@import "tailwindcss";

.card {
  transition: transform 0.2s ease;
}

.card:hover {
  transform: scale(1.05);
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.6);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 10px;
  opacity: 0;
  transition: 0.3s;
}

.card:hover .overlay {
  opacity: 1;
}